@charset "UTF-8";
* {
  background: #b2b2b2;
}

#wrapper {
  text-align: center;
  color: #000;
  font-weight: bold;
  padding: 5px 0;
  font-size: 1.5em;
  line-height: 1em;
}

#title {
  font-family: Helvetica, Geneva, sans-serif;
}

#title:focus {
  outline: none;
}

#title span {
  vertical-align: middle;
  line-height: 1.5em;
  transition: font-size 2s cubic-bezier(0, 1, 0, 1);
}

#title span:hover {
  font-size: 1.5em;
  line-height: 1em;
  transition: font-size 0.2s cubic-bezier(0, 0.75, 0, 1);
}

#title span:active {
  font-size: 1em;
  text-shadow: none;
}

#title span::selection {
  background-color: red;
}

span {
  text-shadow: -0.06em 0 red, 0.06em 0 cyan;
  letter-spacing: 0.08em;
}

/* Estrelas */
#stars span {
  font-size: 2em;
  display: inline-block;
  transform: scale(1);
  transition: transform 2s cubic-bezier(0, 1, 0, 1);
}

#stars span:hover {
  cursor: crosshair;
  transform: scale(1.3);
  transition: transform 0.2s cubic-bezier(0, 0.75, 0, 1);
}

#stars span:active {
  text-shadow: none;
}

#stars span {
  animation: stars-animation 3s 50 ease-in-out;
}

@-webkit-keyframes stars-animation {
  0% {
    transform: scale(1);
  }
  90% {
    transform: scale(1);
  }
  95% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
#stars:hover span {
  animation: none;
}

/* ---------------- Título ---------------- */
#title {
  font-family: Helvetica, Geneva, sans-serif;
}

#title:focus {
  outline: none;
}

#title span {
  vertical-align: middle;
  line-height: 1.5em;
  transition: font-size 2s cubic-bezier(0, 1, 0, 1);
}

#title span:hover {
  font-size: 1.5em;
  line-height: 1em;
  transition: font-size 0.2s cubic-bezier(0, 0.75, 0, 1);
}

#title span:active {
  font-size: 1em;
  text-shadow: none;
}

#title span::selection {
  background-color: red;
}

.basic-column {
  background: #f4feff !important;
}

.developer-column {
  background: #f0faed !important;
}

.business-column {
  background: #f0ebff !important;
}

.enterprise-column {
  background: #fff0f5 !important;
}

table {
  width: 100%;
  width: min(900px, 100% - 3rem);
  margin-inline: auto;
  border-collapse: collapse;
  border-spacing: 2rem;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
table th,
table td,
table caption {
  padding: 1rem;
}
table th:nth-child(1) {
  background: #ffec6b;
  border-radius: 20px 0 0 0;
  border-right: 7px solid #b2b2b2;
}
table th:nth-child(2) {
  background: #e5f4fb;
  border-right: 7px solid #b2b2b2;
}
table th:nth-child(3) {
  background: #e3f4df;
  border-right: 7px solid #b2b2b2;
}
table th:nth-child(4) {
  background: #e6e1f5;
}
table th:nth-child(5) {
  background: #fcd9e5;
  border-radius: 0 20px 0 0;
  border-left: 7px solid #b2b2b2;
}
table td {
  border-bottom: 2px dashed #b2b2b2;
  font-weight: 400;
  font-size: 16px;
  color: #686868;
  background: #fff;
}
table td.basic-column {
  background: #e3f4df;
}
table tr:last-child td {
  border-bottom: none;
}
table col:nth-child(2) {
  background: #f4feff;
}

caption,
th,
td {
  text-align: center;
}

@media (max-width: 650px) {
  td {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 2rem;
  }
  td::before {
    content: attr(data-cell);
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
    padding: 0.5rem 1rem;
  }
  td:nth-of-type(1)::before {
    background: #e3f4df;
  }
  td:nth-of-type(2)::before {
    background: #e5f4fb;
  }
  td:nth-of-type(3)::before {
    background: #fffaee;
  }
  td:first-child,
  td:last-child {
    padding-top: 2rem;
  }
  th {
    display: none;
  }
}
td[data-label=Categoria] {
  background: #f5fab6;
  color: black;
}

/*# sourceMappingURL=style.css.map */
